:root {
  --color-punga: #533910;
  --color-chilean-fire: #fd7600;
  --color-fern: #5a7f00;
  --color-apple-green: #83b500;
  --color-utah-crimson: #cd0047;
  --color-mine-shaft: #333333;
  --color-celeste: #b8f7ff;
  --color-denim: #3066b3;
  --color-navy: #000570;
  --color-porsche: #e09e57;
  --color-cinnamon: #754000;
  --color-turtle-green: #2b4000;
  --color-hooker-green: #477369;
  --color-chelsea-cucumber: #8fb054;
  --color-marzipan: #f5db99;
  --color-gin-fizz: #f7edc9;
  --color-verdun-green: #404a00;
  --color-buttered-rum: #997d00;
  --color-hot-toddy: #b37500;
  --color-burnt-maroon: #450503;
  --color-red-beech: #7d2e00;
  --color-burnt-orange: #cc5203;
  --color-crayon-orange: #ff6926;
  --color-my-sin: #ffa84d;
  --color-dandelion: #ffd95e;
  --color-kournikova: #ffe870;
  --color-karry: #ffebd4;
  --color-yourpink: #ffc4b8;
  --color-brandy-rose: #b89187;
  --color-hot-pink: #ff70bd;
  --color-fuchsia: #c95ebd;
  --color-finn: #5e2b57;
  --color-cocoa-brown: #2b171f;
  --color-cerulean: #009ede;
  --color-deep-sky-blue: #00d1ff;
  --color-pattens-blue: #def7fa;
  --color-silk: #c1b3a7;
  --color-zorba: #a89d91;
  --color-saddle: #5f4d47;
  --color-celery: #b6cb5e;
  --color-dell: #496538;
  --color-muddy-waters: #ad7a52;
  --color-fawn: #e1ac6e;
  --color-sandrift: #ab8979;
  --color-celestial-blue: #4591de;
  --color-maya-blue: #6dbef7;
  --color-picton-blue: #5aa7de;
  --color-waikawa-gray: #65748e;
  --color-perfume: #beabdd;
  --color-hippie-pink: #a94358;
  --color-lavender-pink: #fdb2cd;
  --color-azalea: #fbc0c1;
}